*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  background-color: rgb(26, 26, 26);
  color: rgb(6, 238, 250);
}

